body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-align: center;
}

p{
  line-height: 2;
}
.intro{
  margin: auto;
  width: 50%;
}

h1 {
  color: #66bfbf;
  font-family: 'Great Vibes';
  font-size: 5.625em;
  margin: 50px 0 auto 0;
  margin-top: 0;


}

h2 {
  color: #66bfbf;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;

}

h3 {
  color: #11999e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}


.top-container {
  background-color: #A8E6CF;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

hr{
  margin: 100px auto;
  border: dotted #A8E6CF 6px;
  border-bottom: none;
  width: 4%;
}


.email-me{
  background-color: #FFD3B6;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}


.computer{
  float: left;
  margin-right: 30px;
  width: 25%;
}

.skill-row{
  margin : 100px auto 100px auto;
  text-align: left;
  width: 50%;

}

.chillies{
  float: right;
  margin-left: 30px;
  width: 25%;
}

.bottom-container{
  background-color: #FFAAA5;
  padding-top: 30px;
}

.middle-container{
  background-color: #DCEDC1;
  padding-bottom: 30px;
  padding-top: 30px;
}

a{
  color: #11999E;
  font-family: 'Ubuntu', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
  a:hover{
    color: #EaF6F6;
  }
  h1:hover{
    font-style: italic;
  }


.copyright-msg{
  font-family: 'Ubuntu', sans-serif;
  color: green;
  padding: 20px 0;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
